---
permalink: functions/posts.json
permalinkBypassOutputDir: true
hidden: true
---

[{% for post in collections.blog %}
    {
   "title":"{{post.data.title | jsonTitle}}",
   "slug":"{{post.data.title | slug}}",
   "date":"{{post.data.date | dateDisplay}}"
    }{% if loop.last == false %},{% endif %}
{% endfor %}]